/* @group Basic HTML
---------------------------------------*/

html,
body {
	height: 100%; 
}

body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  height: 100%; 
}

pre,
code {
  font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

a { color: #F7931E; text-decoration: none; }
a:hover { text-decoration: underline; }

/* @end Basic HTML */

/* @group Headings
---------------------------------------*/

.formatted h1 {
  font-size: 25px;
}

.formatted h2 {
  font-size: 23px;
}

.formatted h3 {
  font-size: 21px;
}

.formatted h4 {
  font-size: 19px;
}

.formatted h5 {
  font-size: 17px;
}

.formatted h6 {
  font-size: 15px;
}

/* @end Headings */

/* @group Spacing
---------------------------------------*/

.formatted ol {
  list-style: decimal;
}

.formatted ul {
  list-style: disc;
}

.formatted li {
  margin-left: 30px;
}

.formatted p,
.formatted dl,
.formatted hr,
.formatted h1,
.formatted h2,
.formatted h3,
.formatted h4,
.formatted h5,
.formatted h6,
.formatted ol,
.formatted ul,
.formatted pre,
.formatted table,
.formatted address,
.formatted fieldset,
.formatted figure,
.formatted form {
  margin-bottom: 20px;
  line-height: 2em;
}

/* @end Spacing */

/* @group Miscellaneous Items
---------------------------------------*/

.wai {
	height: 1px;
	left: -9999px;
	position: absolute;
	width: 1px;
}

.formatted .rl,
.formatted .rl ul { list-style-type: none; }
.formatted .rl li { margin-left: 0; }

/* TEXT RESIZZLE */
.smallest { font-size: 60%; }
.small {    font-size: 80%; }
.normal {}

.large {    font-size: 120%; line-height: 160%;}
.largest {  font-size: 150%; line-height: 160%;}

/* @end Miscellaneous Items */
