/* @group Search */
#search p { position: relative; }
#search label {
	position: absolute;
	top: 2px;
	left: 5px;
}

/* @end Search */

/* @group Navigation */

#suckerfish2 {
	background: #cccccc;
	height: 36px;
	margin:	0;
	z-index: 1000;
}
/*---LEVEL 1 MENU---*/

#suckerfish2 > li {
	float: left;
	font-size: 11px;
	line-height: 36px;
	text-transform: uppercase;
}
#suckerfish2 > li > a {
	color: #fff;
	display: block;
	line-height: 30px;
	margin:  3px 0;
	padding: 0px 12px;
	text-align: center;
	text-decoration: none;
}

#suckerfish2 > li:hover {
	background: #6c6b6d url("/images/menu-item.gif") repeat-x;	
}

#suckerfish2 > li + li > a  {
		border-left: 1px solid #7b7b7b;
}
	
	/*----DROP DOWN (LEVEL 2)----*/

	/*----HIDE----*/
	#suckerfish2 li ul {
		background: #000 url("/images/sprite-menu.png") 0 100% no-repeat;
		font-size: 1.1em; /* 12px */
		left: -9999px;
		line-height: 18px;
		margin: 0;
		position: absolute;
		text-transform: uppercase;
		width: 200px;
		z-index: 10000;
	}
	
	/*----ACTIVATE----*/
	#suckerfish2 li:hover ul {
		left: auto;
		position: absolute;
		z-index: 100000;
		background: white;
		width: 220px;
		box-shadow: 2px 2px 2px rgba(0,0,0,.3);
		-moz-box-shadow: 2px 2px 2px rgba(0,0,0,.3);
		-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.3);
	}
				
	#suckerfish2 li ul li a {
		color: #c8c8c7;
		height: auto;
		padding: 7px 15px;
		text-decoration: none;
		display: block;
		border-bottom: 1px solid #404040;
	}
	
	#suckerfish2 li ul li:hover a {  color: black; }

/* @end Navigation */

/* @group Form Styles */

/* BASE FORM STYLES */
form.base-form div { 
	overflow: hidden; 
	margin-bottom: 10px;
}
form.base-form div label {
	line-height: 2em;
	padding: 5px 0px;
	margin-right: 5%;
	width: 30%;
}
form.base-form div input[type="text"],
form.base-form div textarea {
	background: #f2f2f2;
	border: 1px solid #cccccc;
	border-radius: 5px;
	line-height: 20px;
	padding: 5px 3px;
	width: 60%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

form.base-form .radio-check label {
	text-align: left;
}

/* LABEL LEFT STYLES */
form.ll div label {
	display: block;
	float: left;
	text-align: right;
}

form.ll div input[type="text"],
form.ll div textarea {
	display: block;
	float: left;
}

form.ll .main-btn {
	margin-left: 35%;
}


/* LABEL TOP STYLES */
form.lt div label {
	display: block;
}

form.lt div input[type="text"],
form.lt div textarea {
	display: block;
}

form.lt .radio-check label {
	display: block;
	float: left;
}

.radio-check {
	width: 60%;
	border-bottom: 1px dotted #cccccc;
	border-top: 1px dotted #cccccc;
}

/* FORM ERRORS */

form.base-form div label.error {
	background: #f5dada url(../assets/base-images/error-icon.png) no-repeat 5px 5px;
	border: 1px solid #bf0404;
	max-width: 53%;
	margin-left: 35%;
	text-align: left;
	padding: 0 10px 0 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

form.base-form div input.error {
	border: 1px solid #bf0404;
}

/* @end Form Styles */

/* @group Image Gallery */

.image-gallery { overflow: hidden; margin-bottom: 10px; }
.image-gallery li a {
	display: block;
}
.image-gallery li {
	float: left;
	border: 1px solid #cccccc;
	background: #f2f2f2;
	padding: 10px;
	margin: 0 10px 10px 0;
	height: auto;
}


/* @end Image gallery */

/* @group Tabel Styles */

table th {
	background: #f2f2f2;
	padding: 5px 10px;
	border: 1px solid #cccccc;
}

table td {
	border: 1px solid #cccccc;
	padding: 5px 10px;
}

/* @end Table Styles */

/* @group Buttons */

.main-btn {
	display: inline-block;
	cursor: pointer;
	font-size: 12px !important;
	line-height: 20px;
	text-decoration: none;
	color: #333333 !important;
	width: auto !important;
	padding: 0 0 0 15px !important;
}
	
.main-btn span { 
	display: inline-block;
	padding: 0px 15px 0px 0px !important;
	line-height: 30px;
	width: auto !important;
}
	
	.basic-btn { background: url(../assets/base-images/basic-btn.png) no-repeat 0 0; }
	.basic-btn span { background: url(../assets/base-images/basic-btn.png) no-repeat right -50px; }
	
	.basic-btn:hover { background: url(../assets/base-images/basic-btn.png) no-repeat 0 -100px; }
	.basic-btn:hover span { background: url(../assets/base-images/basic-btn.png) no-repeat right -150px; }
	

/* @end Buttons */